<div class="login_and_registration">
    <form id="login_form">
        <h3>התחברות</h3>
        <ul>
            <li>
                <label for="login_email">מייל</label>
                {{input value=login_email}}
            </li>
            <li>
                <label for="login_password">סיסמה</label>
                {{input type="password" value=login_password}}
            </li>
            <button {{action "login"}}>התחבר</button>
        </ul>
    </form>
    <form id="regsiter_form">
        <h3>הרשמה</h3>
        <ul>
            <li>
                <label for="register_name">שם</label>
                {{input type="text" value=register_name}}
                {{#if errors_register_name.length}}
                <div class="errors">
                    {{#each errors_register_name as |error|}}
                    <p>{{error}}</p>
                    {{/each}}
                </div>
                {{/if}}
            </li>

            <li>
                <label for="register_email">מייל</label>
                {{input type="text" value=register_email}}
                {{#if errors_register_email.length}}
                <div class="errors">
                    {{#each errors_register_email as |error|}}
                    <p>{{error}}</p>
                    {{/each}}
                </div>
                {{/if}}
            </li>
            <li>
                <label for="register_password">סיסמה</label>
                {{input type="password" value=register_password}}
                {{#if errors_register_password.length}}
                <div class="errors">
                    {{#each errors_register_password as |error|}}
                    <p>{{error}}</p>
                    {{/each}}
                </div>
                {{/if}}
            </li>
            <li>
                <label for="register_repeat_password">סיסמה (בשנית)</label>
                {{input type="password" value=register_repeat_password}}
            </li>
            <button {{action "register"}}>הרשמה</button>
        </ul>
    </form>

</div>
{{outlet}}