<h3>רשימת משימות</h3>
<ul>
{{#each todo_items as |item|}}
    <li>
        {{#if item.completed_at}}
        <input type="checkbox" checked id="todo_item_{{item.id}}" onchange={{action "set_completed" item.id false}} />
        {{else}}
        <input type="checkbox"  id="todo_item_{{item.id}}" onchange={{action "set_completed" item.id true}} />
        {{/if}}
        {{item.task}}
    </li>
{{/each}}
</ul>