<button id="logout_button" {{action "logout"}}>התנתק</button>
<div class="todo-list">
    <h3>רשימת משימות</h3>
    <form id="new_task_form">
        {{input value=task id="new_task_input"}}
        <button {{action "new_item"}} id="new_task_button" disabled>משימה חדשה</button>
    </form>
    <ul id="todo_list_items">
    {{#each model.todo_items as |item|}}
        <li class="
          {{if item.completed_at "completed" "not_completed"}}
          {{if item.share_count "shared" "not_shared"}}
          ">
            {{#if item.completed_at}}
            <input type="checkbox" checked id="todo_item_{{item.id}}" onchange={{action "set_completed" item.id false}} />
            {{else}}
            <input type="checkbox"  id="todo_item_{{item.id}}" onchange={{action "set_completed" item.id true}} />
            {{/if}}
            {{item.task}}
            {{#if item.is_mine}}
            <i {{action "share_task" item}} 
              class="fa fa-share-alt" title="שיתוף משימה"></i>
            {{/if}}
            <i {{action "delete_are_you_sure" item}} class="fa fa-trash" aria-hidden="true" title="מחק משימה"></i>
        </li>
    {{/each}}
    </ul>
</div>

<BsModal @open={{are_you_sure_modal}}
    @onHidden={{action (mut are_you_sure_modal) false}}
    @item_id_to_delete={{item_id_to_delete}}
    @onSubmit={{action "delete_task" item_id_to_delete}} as |Modal|>
  <Modal.header>
    <h4 class="modal-title"><i class="glyphicon glyphicon-alert"></i> האם אתה בטוח?</h4>
  </Modal.header>
  <Modal.body>
    {{#if modal_question_wait}}
    <p id="modal_question_wait">...</p>
    {{else}}
    <p id="modal_question">
        אתה עומד למחוק את המשימה: {{delete_task_title}}
    </p>
    {{/if}}

  </Modal.body>
  <Modal.footer as |footer|>
    {{#if modal_question_wait}}
      <BsButton @onClick={{action Modal.close}} @type="danger" >סגור!</BsButton>
    {{else}}
      <BsButton @onClick={{action Modal.close}} @type="danger" >לא!</BsButton>
      <BsButton @onClick={{action Modal.submit}} @type="success">בהחלט!</BsButton>
    {{/if}}
  </Modal.footer>
</BsModal>

<BsModal @open={{share_modal}}
    @onHidden={{action (mut share_modal) false}}
    @onSubmit={{action "submit_share_item" item_id_to_share}}
    @item_id_to_share={{item_id_to_share}} as |Modal|>
  <Modal.header>
    <h4 class="modal-title"><i class="glyphicon glyphicon-alert"></i>שיתוף משימה</h4>
  </Modal.header>
  <Modal.body>
    {{#if modal_share_wait}}
    <p id="modal_share_wait">...</p>
    {{else}}
    <p id="modal_share_list">
        שתף את המשימה: {{share_task_title}}
        {{#if share_users.length}}
          <ul id="share_task_list">
            {{#each share_users as |user|}}
              <li>
                {{input type="checkbox" 
                  checked=user.is_shared_with
                  name=user.id
                }}
                {{user.name}}
              </li>
            {{/each}}
          </ul>
        {{/if}}
    </p>
    {{/if}}
  </Modal.body>
  <Modal.footer as |footer|>
    <BsButton @onClick={{action Modal.close}} @type="danger" >סגור!</BsButton>
    {{#unless modal_share_wait}}
      <BsButton @onClick={{action Modal.submit}} @type="success" >שתף!</BsButton>
    {{/unless}}
  </Modal.footer>
</BsModal>